::-webkit-scrollbar{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fffb;
}

::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

::-webkit-scrollbar-thumb:hover{ 
    visibility: visible;
}


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}
@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

/*@page {
    size: landscape;
    margin: 0; 
}*/

.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    margin-top: 150px;
    margin-bottom: 20px;
    width: 82vw;
    height: 90vh;
    background-color: #2e3842 / 0.7;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-size: 400%;
    background-image: linear-gradient(to right, #0d318d, #004b96, #005981, #00625e, #03673f);
    animation: big-animation 20s infinite alternate;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fffb;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #0d318d;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #D22630;
}

.status.pending {
    background-color: #ebe294;
}

.status.shipped {
    background-color: #547ce0;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
    color: #fff;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #D22630;
    color: #D22630;
}

thead th:hover {
    color: #D22630;
}

thead th.active span.icon-arrow{
    background-color: #D22630;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #D22630;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: transparent url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: transparent;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}
@keyframes big-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

header {
    --text: #0d318d;
    --text-inverse: #f4f4f4;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
  }
  
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
    
  .nav__link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    background-clip: text;
    background-size: 400%;
    background-image: linear-gradient(to right, #0d318d, #004b96, #005981, #00625e, #03673f);
    animation: big-animation 20s infinite alternate;
    color: transparent;
    font-weight: bolder;
      
  }
    
  .nav__link:hover {
    color: #D22630;
    scale: 1.1;
  }
    
  .nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
    
  .nav__link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
    
  .nav__link--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
    border-color: transparent;
  }
    
  .nav__link--btn:hover {
    background-image: linear-gradient(to right, #0d318d, #004b96, #005981, #00625e, #03673f);
    background-size: 400%;
    color: white;
    border-color: white;
    animation: big-animation 20s infinite alternate;
    transition: color .5s ease-in-out;
  }
    
  .nav__link--btn::after {
    display: none;
  }
    
  .nav__link--btn--highlight {
    background: linear-gradient(to right, #0d318d, #004b96, #005981, #00625e, #03673f);
    background-size: 400%;
    color: #f4f4f4;
    animation: big-animation 20s infinite alternate;
  }
    
  .nav__link--btn--highlight:hover {
    background-image: linear-gradient(to right, #0d318d, #004b96, #005981, #00625e, #03673f);
    animation: big-animation 20s infinite alternate;
    background-size: 400%;
    background-clip: text;
    color: transparent;
  }
    
  .nav-scrolled {
    --text: #03673f;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
  }
  
  .nav__link-current {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    color: #D22630;
    font-weight: bolder;
  }
    
  .nav__link-current:hover {
    color: #D22630;
    scale: 1.1;
  }
    
  .nav__link-current:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
    
  .nav__link-current:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .site-logo {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: transparent;
    text-decoration: none;
    background: linear-gradient(to right, #0d318d, #004b96, #005981, #00625e, #03673f);
    background-size: 400%;
    background-clip: text;
    animation: big-animation 20s infinite alternate;
  }
  ::-webkit-scrollbar {
    opacity: 0;
  }
  
  @keyframes big-animation {
      0% {
          background-position: left;
      }
      100% {
          background-position: right;
      }
    }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    overflow-x: hidden; 
  }
  .transition-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000; /* Ensure it's on top of everything */
    transform: translateY(100%); /* Default position off-screen */
    transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .transition-active .transition-layer {
    transform: translateY(0); /* Move into view */
  }
  
  .transition-reverse .transition-layer {
    transform: translateY(-100%); /* Slide out */
  }
  
  /* Layer specific styles */
  .left-layer--1 {
    background: #03673f; /* First color */
    transition-delay: 0s;
  }
  
  .left-layer--2 {
    background: #D22630; /* Second color */
    transition-delay: 0.2s;
  }
  
  .left-layer--3 {
    background: #03673f; /* Third color */
    transition-delay: 0.4s;
  }
  @keyframes scale-up {
    from {
      opacity: 0;
      transform: scale(1) translateY(20px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
  
  .page-content {
    transform-origin: center;
    animation: scale-up 0.6s ease-out; /* Adjust duration and timing function as needed */
  }
  
  .scale-up-animation {
    animation: scale-up 0.6s ease-out;
  }
  .page-content {
    background: #2e3842 url(waa.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    overflow-x: visible;
  }
  html {
    background-color: #03673f;
  }